.app{
    width: 100%;
    height: 100vh;
}
.header{
    /* height: 100px; */
    height: 15%;
    background-color: transparent;
}

.header__navbar-list{
    display: flex;
    list-style: none;
    width: 250px;
    /* width: 12%; */
    margin: 20px;
    justify-content: flex-end;
    float: right;
}
.header__navbar-item{
    margin: auto 8px;
    color: var(--text-color);
}
.header__navbar-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    
}
.header__navbar-user{
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(https://lh3.googleusercontent.com/ogw/ADGmqu9HcExtl-QrX0f-TMHxoTsGtNbcd66y-7M3MthY=s32-c-mo) ;
    background-repeat: no-repeat;
    background-size: contain;  
}
.container{
    background-color: transparent;
    /* height: 500px; */
    height: 70%;
    position: relative;
}

.body__logo{
    text-align: center;
}
.body__logo-img{
    /* max-width: 500px; */
    width: 30%;
}
/* body form */
.body__form{
    text-align: center;
}
.form__searchbox{
    display: flex;
    justify-content: flex-start;
    width: 35%;
    margin: auto;
    border-radius: 40px;
    padding: 16px;
    position: relative;
    border: 1px solid rgb(234,235,238);
}
.form__searchbox-wrap{
    width: 80%;
    /* height: 100%; */
    /* background-color: saddlebrown; */
}
.form__searchbox-icon{  
    font-size: 1.4rem;
    padding: 0 10px;
    color: var(--icon-color);
}
.form__searchbox-input{
    width: 100%;
    outline: none;
    border: 0;
    font-weight: 300;
}
.form__searchbox-icon-wrap{
    display: flex;
    position: absolute;
    right: 0;
    margin: 0 10px;
}
.form__searchbox-history-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    top: 48px;
    left: 0;
    list-style: none;
    padding: 40px 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border: 1px solid rgb(234,235,238);
    text-align: left;
    border-top: none;
    display: none;
    box-shadow: 0 0 1px #5f5f5f;
}
.form__searchbox:hover{
    /* box-shadow: -0.5px -0.5px #b6b6b6; */
    box-shadow: 0 0 1px #5f5f5f;
}
.form__searchbox-input:focus ~ .form__searchbox-history-list{
    display: block;
    animation: Fadein 0.5s;
}
.form__searchbox-input:focus{
    z-index: 2;
}
.form__searchbox-history-link{
    text-decoration: none;
    padding: 4px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--history-text);
}
.form__searchbox-history-item{
    padding: 4px 0;
    background-color: #ffffff;
}
.form__searchbox-history-item:hover{
    background-color: rgb(194, 194, 194);
}
.form__searchbox-history-icon{
    font-size: 1.4rem;
    color: var(--icon-color);
    margin-right: 8px;
    margin-left: 18px;
}
.form__searchbox-history-delete{
    float: right;
    margin-right: 16px;
    color: var(--icon-color);
    font-weight: 350;
    font-size: 1.4rem;
    padding-top: 1px;
}
.form__searchbox-history-delete:hover{
    color: rgb(66,133,244);
    text-decoration: underline;
    cursor: pointer;
}
.form__control{
    margin: 26px 0;
}
.control__btn{
    padding: 12px 16px;
    border: none;
    background-color: rgb(248,249,250);
    color: var(--text-color);
    margin-left: 20px;
    outline: none;
}
.control__btn:hover{
    border: 0.5px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 0.5px 0 #b6b6b6;
}

.form__laguage{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__laguage-title{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 4px;
    font-weight: 300;
}
.form__laguage-item{
    margin: 0 4px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 350;
}
.form__laguage-item:hover{
    text-decoration: underline;
}
/* footer */
.footer{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer__Info-control{
    display: flex;
    justify-content: space-between;
}
.footer__conntry, .footer__Info-control{
    padding: 15px 30px;
    background-color: rgb(242,242,242);
    color: rgb(114, 117, 114);
    font-size: 1.4rem;
    font-weight: 400;
    border-top: calc(1px - 0.05px) solid #b6b6b6;
}
/* .footer__Info-control-list{
    display: flex;
    flex-wrap: wrap;
} */
.footer__Info-control-item-left{
    padding-right: 30px;
}
.footer__Info-control-item-right{
    padding-left: 30px;
}
.footer__Info-control-item{
    text-decoration: none;
    color: rgb(114, 117, 114);
    font-size: 1.4rem;
    font-weight: 400;
}  
.footer__Info-control-item:hover{
    text-decoration: underline;
}
/* responesive */

/* mobile: width < 740px */
@media (max-width:46.1875rem){
    .footer__Info-control{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .form__searchbox{
        width: 80%;
    }
    .body__logo-img{
        width: 60%;
    }
}

/* Tablet: width >= 740px and width <1024 px */