.header{
    height: 100px;
    background-color: transparent;
}

.header__navbar-list{
    display: flex;
    list-style: none;
    width: 12%;
    margin: 20px;
    justify-content: flex-end;
    float: right;
}
.header__navbar-item{
    margin: auto;
    color: var(--text-color);
}
.header__navbar-link{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
}
.header__navbar-user{
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png) ;
    background-repeat: no-repeat;
    background-size: contain;  
}